*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.kotlin
/app/src/main/java/com/anton/movie_catalog_kotlin/feedScreen/
/app/src/main/java/com/anton/movie_catalog_kotlin/navigationBar/
